#reset{
    top: 50%;
}

.button{
    text-align: center;
}

.cell {
    outline-color: #9e9e9e26;
    outline-style: solid;
    outline-width: thin;
}

.container{
    height: 600px;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
}

.filled-cell{
    background-color: black;
}